/* Mobile First */

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

#page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
}

#page-header .logo {
    width: 30%;
}

#page-header .menu {
    display: flex;
    justify-content: center;
}

#page-header .menu .list-menu {
    display: flex;
    margin-top: 1.2rem;
    list-style: none;
}

#page-header .menu .list-menu .menu-link {
    color: #a90329;
}

#page-header .menu .list-menu :not(:last-child) {
    margin-right: 1rem;
}

.banner {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/img/banner.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
}

.banner .banner-title {
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about .about-title {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.about .about-description {
    text-align: center;
    line-height: 1.6rem;
    margin-bottom: 1rem;
    max-width: 500px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0.4rem;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.recipe img {
    width: 100%;
}

.recipe-content {
    text-align: center;
    line-height: 1.6rem;
}

.recipe-title {
    font-size: 1.6rem;
    margin: 1rem 0;
}

.recipe-description {
    font-size: 1.2rem;
}

.recipe-button {
    border: 0;
    background: #a90329;
    color: #fff;
    font-size: 1.2rem;
    width: 9.2rem;
    height: 2.8rem;
    margin-top: 1rem;
}

.who-we-are {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.who-we-are-title {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.who-we-are-description {
    line-height: 1.6rem;
    margin-bottom: 1rem;
}

.people {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.person-image {
    border-radius: 50%;
    margin: 1.2rem;
}

.person-name {
    font-size: 1.8rem;
    color: #a90329;
}

.person-work {
    margin-top: 0.4rem;
    font-size: 1.2rem;
}

.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a90329;
    height: 50px;
}

.page-footer p {
    color: #fff;
}

@media (min-width: 600px) {
    #page-header {
        display: grid;
        grid-template-columns: auto 3fr;
    }
    #page-header .menu {
        display: grid;
        justify-self: end;
    }
    #page-header .menu .list-menu {
        margin-top: 0;
    }
    #page-header .logo {
        width: 100%;
    }
    .recipes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 0.4rem;
    }
    .recipe {
        width: 100%;
    }
    .people {
        display: grid;        
        grid-template-columns: repeat(2, 1fr);       
        column-gap: 6rem;
    }    

    .people .person:last-child{
        grid-column: 1/3;
    }
}

@media (min-width: 940px) {
    .recipes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);        
    }
    .people {
        display: grid;        
        grid-template-columns: repeat(3, 1fr);                
        gap: 2rem;
    }

    .people .person:last-child{
        grid-column: 3/3;
    }
}